<section class="row">
    <img src="">

    <article class="row">
        <h1>VOICI UN ARTICLE : </h1>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam voluptates numquam corporis voluptas vel quibusdam. Sequi vel explicabo quasi natus veniam delectus, facere perspiciatis recusandae necessitatibus sint voluptate libero officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aspernatur illum earum ad sapiente consequuntur ab dolor repudiandae voluptatibus, nulla ex eius cupiditate placeat libero quisquam delectus excepturi. Nobis, esse.</span>
    </article>
    <article class="row">
        <h3></h3>
        <img src="">
        <span class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident iusto accusantium necessitatibus possimus asperiores recusandae aliquid quibusdam quo fugiat autem praesentium ad atque dolorum, fuga culpa. Totam at suscipit modi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dicta eum labore voluptas modi veniam distinctio tempora perferendis mollitia quis explicabo nemo ratione ipsum exercitationem, qui dolorum nesciunt, architecto beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sequi consequatur dolorum magnam corporis, nisi ex minima quia corrupti. Placeat provident repellendus ullam nisi consequatur repellat? Officiis rem beatae adipisci? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ipsam neque amet eaque sequi similique rem nobis facilis aliquid. Hic molestiae cum assumenda dolores voluptas ducimus? Impedit officiis ipsum error?</span>
    </article>
</section>