<div class="container">
    <div class="row">
        <form class="col-12 mt-3" method="POST" action="index.php?controller=login&action=login">
            <div class="form-group row">
                <label class="col-2  col-form-label" for="username">Votre Identifiant :</label>
                <input class="col-md-9 form-control" id="username" name="username" type="text" required>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label" for="password">Votre Mot de passe :</label>
                <input id="password" name="password" class="col-md-9 form-control" type="password" required>
            </div>
            <div class="form-group row">
                <button type="submit" class="offset-md-2 col-5 mt-3 btn btn-success">Se connecter</button>
            </div>
        </form>
    </div>
</div>