<nav class="mb-4 navbar navbar-expand-lg navbar-light bg-dark">
    <div class="col-md navbar-brand">
      <h4 class="text-white mr-4 mt-1">SuperBlog</h4>
    </div>
      <span class="col-md-2 ml-2 text-white">{utilisateur}</span>
      <div class="justify-content-end">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    </div>
      <div class="col collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav">
          <li class="nav-item">
            {connexion}
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="index.php?controller=new">Les News</a>
          </li>
          {optionConnect}
        </ul>
      </div>
    </nav>
    <div class="container mt-4">
